.light {
  --text-color: #222;
  --bkg-color: #fff;
}
.dark {
  --text-color: #eee;
  --bkg-color: #121212;
}

h1,
h2,
section,
form div,
p
/* button:not(.submit) */
{
  color: var(--text-color);
}

html,
body {
  background: var(--bkg-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}